$purple: #2a0162;
$violetclair: #4e3276;
$white: #fff;
$primary: #19171c;
$maxwidth: 1629px;
.purple {
  background: #230055;
}
@mixin titre() {
  font-family: "new order";
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  margin-top: 1em;
  letter-spacing: -2px;
}
@mixin soustitre() {
  font-size: 33px;
  line-height: 42px;
}
@mixin soustexte() {
  margin-top: 1em;
  font-family: "new order";
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  line-height: 34px;
}
@mixin bouton() {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
  padding: 6px 24px;

  border-radius: 50px;
  font-size: 18px;
  background: $purple;
  letter-spacing: 1px;
}
@mixin soustitreJennyfer() {
  font-size: 52px;
  line-height: 57px;
  margin-top: 30px;
  letter-spacing: 0px;

  font-weight: 600 !important;
}
@mixin soustitreJennyfer2() {
  margin-bottom: 10px;
  font-size: 33px;
  line-height: 44px;
  margin-top: 9px;
  font-weight: 500 !important;
}
body {
  overflow-x: hidden;
}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
  }
}

#tomust {
  overflow: hidden;
}
.bande {
  height: 100vh;
}
.dropdown-content {
  display: none;
  position: fixed;
  min-width: 160px;
  min-width: 160px;
  top: 140px;
  left: 0;
  width: $maxwidth;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  a {
    margin-right: 60px;

    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5; /* khtml, old safari */
    -moz-opacity: 0.5; /* mozilla, netscape */
    opacity: 0.5; /* fx, safari, opera */
    &:hover {
      filter: alpha(opacity=100); /* internet explorer */
      -khtml-opacity: 1; /* khtml, old safari */
      -moz-opacity: 1; /* mozilla, netscape */
      opacity: 1; /* fx, safari, opera */
    }
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
}
* {
  font-family: "new-order", sans-serif;
}
body {
  font-family: "new-order", sans-serif;
  p {
  }
}

#headerwrapper {
  .dropdown {
    &::after {
      bottom: 0;
      margin: auto;
      content: "";
      width: 14px;
      height: 11px;
      position: absolute;
      top: 0;
      right: -19px;
      background: url(/assets/images/triangle.svg);
    }
  }
  .container {
    background: rgba(255, 255, 255, 0.2);
    max-width: $maxwidth;
    margin-top: 72px;
    border-radius: 46px;
    padding: 0;
    width: 100vw;
    .col {
      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        #majors {
          margin-right: 26px;
          margin-left: 28px;
          color: #2a0162;
          background: white;
          padding: 10px 17px;
          border-radius: 60px;
          max-height: 45px;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;
          &:hover {
            background: $primary;
            color: white;
          }
        }
      }
    }
  }
  .logo {
    width: 85px;
    height: 85px;
    background: url("assets/images/iconlogoheader.svg") no-repeat;
    transition: transform 0.5s ease;
  }

  .logo:hover {
    transform: rotateY(180deg);
    background-image: url("assets/images/logohover.svg");
  }
  .kang {
    margin-right: 60px;
  }
  #drdoom {
    margin-left: 87px;
  }
  nav {
    display: flex;
    align-items: center;
    padding-left: 82px;
  }
  a {
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: "new order";
    text-decoration: none;
    height: 85px;
    /* background: red; */
    display: flex;
    align-items: center;
  }
  .dropdown {
    margin: 0 1em;
  }
}
#johna {
  img {
    margin-left: 10px;
  }
}
.bande {
  // height: 100vh;
  .container {
    max-width: $maxwidth;
    padding: 0;
  }
  &.purple {
    background-color: #230055;
    h1,
    h2,
    h3,
    p {
      color: $white;
    }

    a {
      color: $white;
      border-bottom: 1px solid $white;

      &:hover {
        color: $purple;
        background-color: $white;
      }
    }
  }
  #kopdax {
    margin-top: 125px;
  }
  &#hero {
    padding: 0;
    background: url("assets/images/backgroundsection.png") #230055 right 3vh no-repeat;
    position: relative;
    background-size: contain;

    #javier {
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      position: relative;
      height: 720px;
      margin-top: 17em;
      img {
        position: absolute;
        &:nth-of-type(1) {
          z-index: 3;
          left: -18px;
        }
        &:nth-of-type(2) {
          right: 162px;
          bottom: 0;
          z-index: 2;
        }

        &:nth-of-type(3) {
          right: 52px;
          top: 74px;
          z-index: 1;
        }
      }
    }
    .cta {
      display: flex;
      flex-direction: row;
      a {
        @include bouton();
        &:nth-of-type(1) {
          background: white;
          color: $purple;
          margin-right: 20px;
          &:hover {
            background: #4e3276;
            color: white;
          }
        }
        &:nth-of-type(2) {
          border: 3px white solid;
          &:hover {
            background: #4e3276;
            color: white;
          }
        }
      }
    }
    .container {
      h1 {
        @include titre();
        margin-top: 1em;
      }
    }
    p {
      margin-top: 0em !important;
      @include soustexte();
    }
    img {
    }
  }

  &#jennyfer {
    padding: 50px 0;
    background: url("assets/images/jennyfer.png") #230055 35vw bottom no-repeat;
    #feige {
      margin-top: 100px;
    }
    h2 {
      @include soustitreJennyfer();
    }

    h3 {
      @include soustitreJennyfer2();
    }
    p {
      @include soustexte();
    }
  }

  &#video {
    padding: 50px 0 123px;

    video {
      max-width: 100%;
    }
    #yoko {
      padding-top: 83px;
    }

    h2 {
      margin-bottom: 20px;
      color: $purple;
      font-size: 74px;
      font-weight: bold;
      margin-top: 60px;
      line-height: 79px;
    }
    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 24px;
      margin-top: 54px;
      li {
        color: #2a0162;
        font-weight: 600;
        font-size: 40px;
      }
    }
  }

  &#nouvelles-experiences {
    background: url("assets/images/kevin.png") -123% 0 no-repeat $purple;
    padding: 50px 0;

    img {
      max-width: 100%;
    }

    h2 {
      margin-top: 244px !important;
      margin-bottom: 30px;
      @include soustitreJennyfer();
    }

    p {
      padding-top: 21px !important;
      margin-bottom: 30px;
      @include soustitreJennyfer2();
    }

    a {
      display: inline-block;
      @include bouton();
      margin-top: 3px;
      border: 3px white solid;
      display: inline-flex;
    }
  }

  &#nocode {
    padding: 50px 0;

    img {
      max-width: 100%;
    }

    h2 {
      font-size: 52px;
      line-height: 57px;
      letter-spacing: 0px;
      color: #2a0162;
      font-weight: 600 !important;
      margin-top: 100px;
      margin-bottom: 43px;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      display: inline-block;
      margin-top: 20px;
    }
  }
}
header {
  display: flex;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  width: 100vw;
  justify-content: center;
  left: 0;
  background: none;
  right: 0;
}
#parleznous {
  margin-top: 30px;

  p {
    margin-bottom: 10px;
  }
}
#furelse {
  background: url("assets/images/illutsraionNocode.jpg");
}
#wiso {
  margin-left: 93px;
  padding-right: 110px;
  p {
    margin-bottom: 30px;
    color: $purple;
    margin-bottom: 10px;
    font-size: 33px;
    line-height: 44px;
    margin-top: 9px;
    font-weight: 500 !important;
    strong {
      margin-top: 1em;
      display: block;
    }
  }
}
#nouvelles-experiences {
  h2 {
    font-size: 52px;
    line-height: 57px;
    letter-spacing: 0px;
    font-weight: 600 !important;
    color: white;
    margin-bottom: 43px;
  }
  p {
    color: white;
    font-size: 33px;
    line-height: 44px;
    margin-top: 9px;
    font-weight: 500 !important;
  }
}
