.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body {
  font-family: "new-order", sans-serif;

  p {
  }
}
