.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body {
  font-family: "new-order", sans-serif;

  p {
  }
}
$primary: #2a0162;
.purple {
  background: $primary;
}
#headerwrapper {
  .dropdown {
    &::after {
      content: "";
      width: 14px;
      height: 11px;
      background: red;
      position: absolute;
      top: 9px;
      right: -19px;
      background: url(/assets/images/triangle.svg);
    }
  }
  .container {
    background: rgba(255, 255, 255, 0.2);
    max-width: 80vw;
    margin-top: 72px;
    border-radius: 46px;
    padding: 0;
    .col {
      &:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        #majors {
          margin-right: 37px;
          margin-left: 28px;
          color: $primary;
          background: white;
          padding: 10px;
          border-radius: 60px;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;
        }
      }
    }
  }
  .logo {
    width: 85px;
    height: 85px;
    background: url("assets/images/iconlogoheader.svg") no-repeat;
    transition: transform 0.5s ease;
  }

  .logo:hover {
    transform: rotateY(180deg);
    background-image: url("assets/images/logohover.svg");
  }
  .kang {
    margin-right: 60px;
  }
  #drdoom {
    margin-left: 87px;
  }
  nav {
    display: flex;
    align-items: center;
    padding-left: 82px;
  }
  a {
    font-weight: bold;
    color: white;
    font-size: 20px;
    font-family: "new order";
    text-decoration: none;
  }
  .dropdown {
    margin: 0 1em;
  }
}
